.car-details {
    display: flex;
    overflow: hidden;
}

.car-image {
    width: 45%;
    height: 30%;
    margin: 2px;
    border: #333;
    border-radius: 8px;
    object-fit: cover;

}

.car-info {
    margin-left: 3%;
    margin-right: 40%;
    font-size: larger;
}

.car-info h2 {
    color: #333;
    font-size: x-large;
}

.car-info p {
    color: green;
    margin: 5px 0;
}

.car-links {
    display: flex;
    flex-direction: end;
    justify-content: end;
    align-items: end;
}

.rent-link,
.edit-link,
.delete-link {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: green;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.rent-link:hover,
.edit-link:hover,
.delete-link:hover {
    background-color: darkgreen;
}