div#body div.welcome {
    padding: 31px 0 0 19px;
    float: left;
    width: 100%;
}

.latest {
    margin-top: 120px;
    margin-left: 30px;
}

div#body div.welcome h2 {
    color: rgb(0, 105, 0);
    font: bold 22px/23px Tahoma, Arial, Helvetica, sans-serif;
    text-align: left;
}

div#body div.welcome p {
    color: #7A8282;
    font: 11px/14px Tahoma, Arial, Helvetica, sans-serif;
    margin: 14px 0 0 0;
}

div#body div.welcome p a {
    text-decoration: underline;
    color: #7A8282;
}

div#body p.brd {
    margin: 3px 0 0 19px;
    border-bottom: 1px solid #ABB5B6;
    line-height: 0;
    font-size: 0;
    width: 741px;
}