div#body p.footer {
    font: 11px/14px Tahoma, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 21px 0 10px 0;
    color: #060602;
}

div#body p.footer a {
    color: #060602;
    text-decoration: none;
    margin: 0 10px 0 10px;
}

div#body p.footer a:hover {
    text-decoration: underline;
}

div#main div.foot {
    height: 51px;
    background: #697779;
    margin: 0 auto 0 auto;
    text-align: center;
    color: #FFFFFF;
    font: 11px/14px Tahoma, Arial, Helvetica, sans-serif;
    padding: 20px 0 0 0;
}