div#main div.foot {
    height: 51px;
    background: #697779;
    margin: 0 auto 0 auto;
    text-align: center;
    color: #FFFFFF;
    font: 11px/14px Tahoma, Arial, Helvetica, sans-serif;
    padding: 20px 0 0 0;
}